<footer id="footer">
  <div class="footer-content">
    <div class="grid">
      <div class="column">
        <div class="column two">
          <div class="content">
            <p>
              Kotoba is a hobby project. It's not a proper and finished product, and more so used right now as
              a part of my web development portfolio.
            </p>
            <p>
              However, if you are a student of Japanese and somehow you found this tool and it is helping you cram,
              I'm very happy it can be useful to you!
            </p>
            <p>
              頑張ってね!
            </p>
          </div>
        </div>
        <div class="column two">
          <div class="content">
            <ul class="icon-list">
              <li>
                <a class="icon-link" href="https://github.com/valdelaseras/kotoba-app">
                  <img src="../../../../assets/logos/github.svg"
                       alt="Github logo"
                       title="Github"
                       class="invert-on-dark-theme">
                </a>
              </li>
              <li>
                <a class="icon-link" href="https://www.linkedin.com/in/robin-scholtes-488964115/">
                  <img src="../../../../assets/logos/linkedin.svg"
                       alt="Linkedin logo"
                       title="Linkedin"
                       class="invert-on-dark-theme">
                </a>
              </li>
              <li>
                <a class="icon-link" href="https://weird.io/en/home">
                  <img src="../../../../assets/logos/weird.svg"
                       alt="Weird logo"
                       title="Weird.io"
                       class="invert-on-dark-theme">
                </a>
              </li>
            </ul>
            <ul>
              <li>
                <p>
                  Feel free to drop me some feedback, ask a question or just to say hi!
                </p>
                <a href="mailto:robin@weird.io">robin@weird.io</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
