<footer id="footer">
  <div class="footer-content">
    <div class="grid">
      <div class="column">
        <div class="column three">
          <div class="content">
            <ul>
              <li>
                <a routerLink="/about" routerLinkActive="active">About</a>
              </li>
              <li>
                <a routerLinkActive="active">Dataset sources</a>
              </li>
              <li>
                <a routerLinkActive="active"></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="column three">
          <div class="content">
            <ul>
              <li>
                <a routerLinkActive="active">Your data and privacy</a>
              </li>
              <li>
                <a routerLinkActive="active">Report issues</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="column three">
          <div class="content">
            <ul class="icon-list">
              <li>
                <a class="icon-link" href="https://github.com/valdelaseras/kotoba-app">
                  <img src="../../../../assets/logos/github.svg" alt="Github logo" title="Github" class="invert-on-dark-theme">
                </a>
              </li>
              <li>
                <a class="icon-link" href="https://www.linkedin.com/in/robin-scholtes-488964115/">
                  <img src="../../../../assets/logos/linkedin.svg" alt="Linkedin logo" title="Linkedin" class="invert-on-dark-theme">
                </a>
              </li>
              <li>
                <a class="icon-link" href="https://weird.io/en/home">
                  <img src="../../../../assets/logos/weird.svg" alt="Weird logo" title="Weird.io" class="invert-on-dark-theme">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
