<footer id="footer">
  <div class="footer-content">
    <div class="grid">
      <div class="column">
        <div class="column three">
          <div class="content">
            <ul>
              <li>Some</li>
              <li>Footer</li>
              <li>Content</li>
            </ul>
          </div>
        </div>
        <div class="column three">
          <div class="content">
            <ul>
              <li>More</li>
              <li>Footer</li>
              <li>Content</li>
            </ul>
          </div>
        </div>
        <div class="column three">
          <div class="content">
            <ul>
              <li>Maybe some</li>
              <li>Icons</li>
              <li>Here</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
