<div id="about">
  <div class="column">
    <div class="content">
      <h1>About</h1>
    </div>
  </div>
  <div class="column">
    <div class="column two">
      <div class="content">
        <fieldset>
          <legend>
            <h2>...the target user group</h2>
          </legend>
          <p>
            Kotoba is intended for anyone who is in the tough process of cramming kana and kanji.
          </p>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="column two">
      <div class="content">
        <fieldset>
          <legend>
            <h2>...the purpose</h2>
          </legend>
          <p>
            Kotoba is intended to be used as an addition to your regular studies of the language. To put it simply,
            it is a tool to test how well you have memorized kanji and kana and to help you cram by using the simple
            method of repetition.
          </p>
        </fieldset>
      </div>
    </div>
    <div class="column two">
      <div class="content">
        <fieldset>
          <legend>
            <h2>...the origin story</h2>
          </legend>
          <p>
            Kotoba is a passion project created by <a class="highlight" href="https://www.linkedin.com/in/robin-scholtes-488964115/">me, Robin</a>.
          </p>
          <p>
            Back around 2008 I studied Japanese in college. At the time, we didn't have a lot of great online tools at
            our disposal to efficiently cram huge lists of words and kanji. We used to get creative and 'abuse' online
            tools that were intended for other things, and manually typed up all the lists we needed!
          </p>
          <p>
            While times and available tools are way different now and lots of great tools exist, I created Kotoba anyway as a
            passion project once I started learning web development. Kotoba is one of my first projects and is basically
            a manifestation of what I wish we had back in school ;)
          </p>
        </fieldset>
      </div>
    </div>
  </div>
</div>

