<div id="settings">
  <div class="column">
    <div class="content">
        <h1>Settings</h1>
    </div>
  </div>
  <div class="column">

    <div class="column two">
      <div class="column">
        <div class="content">
          <h2>Exam settings</h2>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <h3>Wrong answers</h3>
          <p class="subtext">
            Set your preference on handling incorrectly answered questions
          </p>

          <label for="incorrect-answers">Preference</label>
          <select id="incorrect-answers">
            <option>Repeat until answered correctly</option>
            <option>Never repeat</option>
          </select>
        </div>
      </div>
    </div>

    <div class="column two">
      <div class="column">
        <div class="content">
          <h2>Visual preferences</h2>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <h3>Theme</h3>
          <label for="color-selection">Colors</label>
          <select id="color-selection">
            <option title="Dark theme" value="dark-theme" selected>Dark theme</option>
            <option title="Light theme" value="light-theme">Light theme</option>
          </select>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <h3>Readability</h3>
          <p class="subtext">
            You may change the font and font size in exams
          </p>

          <label for="font-preference">Font preference</label>
          <select id="font-preference">
            <option>Arial</option>
            <option>Helvetica</option>
          </select>

          <label for="font-size">Font size</label>
          <select id="font-size">
            <option>Default</option>
            <option>L</option>
            <option>XL</option>
            <option>XXL</option>
          </select>

          <form>
            <input type="checkbox" id="font-checkbox">
            <label for="font-checkbox">Check to enable Serif font</label>
          </form>
        </div>
      </div>
    </div>

    <div class="column two">
      <div class="column">
        <div class="content">
          <h2>General</h2>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <h3>Your progress</h3>
          <form>
            <input type="checkbox" id="history-record">
            <label for="history-record">Keep a record of your exam scores</label>
          </form>
        </div>
      </div>

      <div class="column">
        <div class="content">
          <h3>Download</h3>
          <p><a>Download your score record</a></p>
          <!--download thingy-->
          <p><a>Download your custom lists</a></p>
          <!--download thingy-->
        </div>
      </div>

      <div class="column">
        <div class="content">
          <h3>Delete your data</h3>
          <p class="subtext">Lorem ipsum</p>
        </div>
      </div>
    </div>
  </div>
</div>




