input[type='checkbox'],
input[type='checkbox'] + label {
    display: inline;
}

input[type='checkbox'] {
    margin-right: .5rem;
}

input[type='text'],
select {
  width: 100%;
}

button[type='submit'].btn.btn-primary.btn-main {
  margin-bottom: 2.5rem;
}



