<div id="exam" (window:resize)="onResize()">
  <div class="column">
    <div class="content">
      <h2>{{ exam.title }}</h2>
    </div>
  </div>
  <div class="column">
    <div class="column two">
      <div class="content">
        <form #examForm="ngForm" id="exam-form" (ngSubmit)="submitForm()">
          <div class="form-group">
            <fieldset>
              <legend>
                <label for="question">{{ currentQuestion.question }}</label>
                <span *ngIf="currentQuestion.hint">{{ currentQuestion.hint }}</span>
              </legend>
              <input id="question"
                     required
                     #answer="ngModel"
                     name="answer"
                     autocomplete="off"
                     onInput="this.value = this.value.toLowerCase()"
                     [(ngModel)]="givenAnswer.entry"
                     [placeholder]="currentQuestion.placeholder | titlecase"/>
              <div class="column info-bar">
                <div class="column two">
                  <small>{{ attempt }} / {{ allowedRetries || '∞'}}</small>
                </div>
                <div class="column two">
                  <div class="incorrect-answer" *ngIf="hasIncorrectAnswers()">
                    <small class="invalid-color">
                      <ng-container *ngIf="!multipleAnswersGiven() && numberOfIncorrectAnswers() > 0">
                        This answer is incorrect
                      </ng-container>
                      <ng-container *ngIf="multipleAnswersGiven() && numberOfIncorrectAnswers() > 0">
                        One or more answers are incorrect
                      </ng-container>
                    </small>
                  </div>
                </div>
              </div>
              <button type="submit"
                      class="btn btn-primary btn-main"
                      [disabled]="examForm.pristine || examForm.invalid">
                Submit
              </button>
            </fieldset>
          </div>
        </form>
      </div>
    </div>
    <div class="column two">
      <div class="content">
        <fieldset>
          <legend>
            <h2>Stats</h2>
          </legend>
           <ul class="stats">
             <li>
               <h4>Method</h4>
               <span>{{ exam.settings.method }}</span>
             </li>
             <li>
               <h4>Progress</h4>
               <span>{{ exam.currentQuestionNumber() }}</span> of <span>{{ exam.getQuestions().length }}</span>
             </li>
             <!--<li>-->
               <!--<h4>Attempts</h4>-->
               <!--<span>{{ attempt }} / {{ allowedRetries || '∞'}}</span>-->
             <!--</li>-->
             <li>
               <h4>Correct</h4>
               <span>{{ exam.numberOfCorrectAnswers() }}</span>

               <h4>Incorrect</h4>
               <span>{{ exam.numberOfIncorrectAnswers() }}</span>
             </li>
           </ul>
        </fieldset>
      </div>
    </div>
  </div>
</div>

