<div id="scoresheet">
  <div class="column">
    <div class="content">
      <h2>Score</h2>
      <h3>Overview</h3>
    </div>
  </div>
  <div class="column">
    <div class="column two">
      <div class="content">
          <fieldset *ngIf="score">
            <legend>
              <h2>Your answers</h2>
            </legend>
            <ul *ngFor="let entry of score.getEntries()">
              <li>{{ entry.question }}</li>
              <li *ngFor="let answer of entry.givenAnswers">{{ answer.entry }}</li>
            </ul>
          </fieldset>
      </div>
    </div>
    <div class="column two">
      <div class="content">
        <fieldset>
          <legend>
            <h2>Stats</h2>
          </legend>
          <ul>
            <li>
              <h4>Duration</h4>
            </li>
            <li>
              <h4>Total questions</h4>
            </li>
            <li>
              <h4>Wrong answers</h4>
            </li>
            <li>
              <h4>Total score</h4>
            </li>
          </ul>
        </fieldset>
      </div>
    </div>
  </div>
</div>
