<div id="scoresheet">
  <div class="column">
    <div class="content">
      <h1>Score</h1>
    </div>
  </div>
  <div class="column">
    <div class="column two">
      <div class="content">
          <fieldset *ngIf="exam">
            <legend>
              <h2>Overview</h2>
            </legend>
            <div class="column">
              <div class="column column-mobile three">
                <h3>Question</h3>
              </div>
              <div class="column column-mobile three b">
                <h3>Answers</h3>
              </div>
            </div>
            <div class="column single-entry-item" *ngFor="let entry of exam.getQuestions()">
              <div class="column column-mobile three">
                <span class="highlight">{{ entry.question }}</span>
              </div>
              <div class="column column-mobile three b">
                <span class="entries"
                      [ngClass]="{'incorrect-entry': !answer.valid }"
                      *ngFor="let answer of entry.givenAnswers">{{ answer.entry }}</span>
              </div>
            </div>
          </fieldset>
      </div>
    </div>
    <div class="column two">
      <div class="content">
        <fieldset>
          <legend>
            <h2>Stats</h2>
          </legend>
          <ul class="stats">
            <li>
              <span>{{ exam.settings.method }}</span>
            </li>
            <li>
              <div class="column">
                <div class="column two">
                  <h4>Date</h4>
                </div>
                <div class="column two">
                  <span>{{ exam.timestamp | date: 'dd-MM-yyyy' }}</span>
                </div>
              </div>
            </li>
            <li>
              <div class="column two">
                <h4>Duration</h4>
              </div>
              <div class="column two">
                <div class="column two">
                  <!--TODO: is placeholder, need actual time duration here-->
                  <span>{{ exam.timestamp | date: 'hh:mm:ss' }}</span>
                </div>
              </div>
            </li>
            <li>
              <div class="column">
                <div class="column two">
                  <h4>Total questions</h4>
                </div>
                <div class="column two">
                  <span>{{ exam.getQuestions().length }}</span>
                </div>
              </div>
            </li>
            <li>
              <div class="column">
                <div class="column two">
                  <h4>Wrong answers</h4>
                </div>
                <div class="column two">
                  <span>{{ exam.numberOfIncorrectAnswers() }}</span>
                </div>
              </div>
            </li>
            <li>
              <div class="column">
                <div class="column two">
                  <h4>Total score</h4>
                </div>
                <div class="column two">
                  <span>{{ exam.getScore() }}%</span>
                </div>
              </div>
            </li>
          </ul>
        </fieldset>
      </div>
    </div>
  </div>
</div>
