:root {
    --primary-color: #222;
    --secondary-color: #f4f4f4;
    --tertiary-color: #000;
    --quaternary-color: lightpink;

    --invalid-color: red;

    --disabled-brd-color: #111;
    --disabled-bg-color: #333;
    --disabled-txt-color: grey;
}
