<div id="custom-exams">
  <div class="column">
    <div class="content">
      <h1>Your custom exam lists</h1>
    </div>
  </div>

  <!--<div class="column">-->
    <!--<div class="content">-->
      <!--ngif cusstom lists-->
      <!--display custom lists in an instance of Lobby so user can still change
       exam settings etc. just like the standard tests in te lobby-->
      <app-lobby></app-lobby>
      <!--else-->
      <!--seeems like you don't have any custom lists yet-->
    <!--</div>-->
  <!--</div>-->

  <div class="column">
    <div class="content">
      <!--create custom list component-->
    </div>
  </div>
</div>


