<div id="landing">
  <div class="column">
    <div class="content">
      <h1>Welcome to Kotoba!</h1>
    </div>
  </div>

  <div class="column two">
    <div class="content">
      <p>
        Kotoba is a tool to practice reading, writing and memorizing vocabulary. You can test yourself by taking
        Hiragana, Katakana and Kanji exams. Additionally, you can generate personalized exams based on questions you
        answer incorrectly or manually enter your own custom exams.
      </p>
      <app-login></app-login>
    </div>
  </div>
</div>


