<div id="landing">
  <div class="column">
    <div class="column">
      <div class="content">
        <h1 class="font-xxl">Kotoba</h1>
        <h2>Make cramming easier</h2>
      </div>
    </div>

    <div class="column two">
      <div class="content">
        <p>
          Memorize Japanese characters and vocabulary. Use the default exams, generate new exams based on your results or create a custom exam yourself!
        </p>
        <app-login></app-login>
      </div>
    </div>
  </div>
</div>


