<div id="popup">
  <div class="column">
    <div class="content">
      <header>
        <h1>A title</h1>
      </header>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <main>
        <p>
          Popup text goes here
        </p>
      </main>
    </div>
  </div>
  <div class="column">
    <div class="content">
      <footer>
        <ul class="btn-group">
          <li>
            <button type="button" class="btn btn-primary">Dismiss</button>
          </li>
          <li>
            <button type="submit" class="btn btn-primary">Okay</button>
          </li>
        </ul>
      </footer>
    </div>
  </div>
</div>
