/*@start section*/
.section {
  // height of navigation(s)
  margin: 70px 0;
  min-height: calc(100vh - 140px);
}

@media only screen and (min-width: 1024px) {
  .section {
    margin: 140px 0;
    min-height: calc( 100vh - 280px );
  }
}
/*@end section*/



/*@start section-content*/
.section-content {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    padding: 1rem 0;
    height: 100%;
}
/*@end section-content*/

