<div id="score-history">
  <div class="column">
    <div class="column">
      <div class="content">
        <h1>Score history</h1>
      </div>
    </div>
    <div class="column">
      <div class="content">
        <fieldset>
          <legend>
            <h2>Your exams</h2>
          </legend>
          <p *ngIf="!exams.length">
            You don't have an exam history yet
          </p>
          <ul *ngIf="exams.length">
            <li *ngFor="let exam of exams">
              <a [routerLink]="['/score', exam.timestamp]" title="">{{ exam.title }} - {{ exam.timestamp | date: 'dd-MM-yyyy hh:mm:ss' }}</a>
            </li>
          </ul>
        </fieldset>
      </div>
    </div>
  </div>
</div>
