<div id="lobby">
  <div class="column">
    <div class="column">
      <div class="content">
        <h1>Lobby</h1>
      </div>
    </div>
    <div class="column">
      <div class="column three">
        <div class="content">
          <p>
            Welcome to your lobby {{ currentUser.username }}. Below you can find the available exams for you.
            When you have decided what you want to practice, select a method on <span class="italic">how</span>
            to practice the list and start learning!
          </p>
        </div>
      </div>
  </div>

  <div class="column">
    <div class="column three">
      <div class="content">
        <ul class="btn-group vertical">
          <li *ngFor="let availableExam of availableExams">
            <button class="btn btn-secondary" (click)="selectAvailableExam( availableExam )">{{ availableExam.title }}</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="column three">
      <div class="content">
       <!--kanji exams go here-->
      </div>
    </div>
    <div class="column three">
      <div class="content">
        <div *ngIf="selectedAvailableExam">
          <header>
            <h3>{{ selectedAvailableExam.title}} </h3>
          </header>

          <main>
            <p>{{ selectedAvailableExam.description }}</p>
            <p>Currently, your exam rules are set to: (examrules)</p>
            <button type="button" class="btn btn-compact btn-tertiary" title="Change settings" routerLink="/settings">Change settings</button>
          </main>

          <footer>
            <form>
              <label for="exam-settings">Select your exam method</label>
              <select id="exam-settings">
                <option *ngFor="let method of selectedAvailableExam.methods" title="{{ method }}" value="{{ method }}">{{ method }}</option>
              </select>
              <button type="submit" class="btn btn-primary" routerLink="/exam" routerLinkActive="active">Start exam</button>
            </form>
          </footer>
        </div>

      </div>
    </div>
  </div>
</div>
