<!--<form #examQuestion="ngForm" id="exam-question" (ngSubmit)="submitForm()">-->
  <!--<p>Please fill in the (method)</p>-->
  <!--<label for="exam-question">Question goes here</label>-->
  <!--<input [(ngModel)]="question.answer" #answer="ngModel"-->
         <!--name="answer"-->
         <!--id="answer-input"-->
         <!--type="text"-->
         <!--placeholder="Your answer"-->
         <!--autocomplete="off"-->
         <!--autofocus-->
         <!--required>-->
  <!--<button class="btn btn-primary"-->
          <!--type="submit" [disabled]="examQuestion.invalid">Submit</button>-->
  <!--<div *ngIf="examQuestion.dirty">-->
    <!--<p *ngIf="examQuestion.invalid" class="invalid-color">This is an incorrect answer</p>-->
  <!--</div>-->
<!--</form>-->
