<nav>
  <ul class="btn-group">
    <li>
      <button title="Back" type="button" (click)="back()" class="btn btn-secondary">Back</button>
    </li>
    <!--any additional buttons below might be dynamic maybe?-->
    <li>
      <button title="To lobby" type="button" routerLink="/lobby" routerLinkActive="active" class="btn btn-secondary">Lobby</button>
    </li>
    <li>
      <button title="To settings" type="button" routerLink="/settings" routerLinkActive="active" class="btn btn-secondary">Settings</button>
    </li>
  </ul>
</nav>





