nav {
  background-color: var(--primary-color);
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: 15px;
  z-index: 999;
  height: 70px;
}

.btn-group {
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
}
