<div id="profile">
  <div class="column">
    <div class="content">
      <h1>user.name</h1>
    </div>
  </div>
  <div class="column">
    <div class="column two">
      <div class="content">
        <ul>
          <li>
            <!--in settings we'd have things like theme, delete history, exam settings like
            repeat wrongly answered questions infinitely until answered correctly, never repeat etc etc-->
            <a title="Settings" routerLink="/settings" routerLinkActive="active">Settings</a>
          </li>
          <li>
            <!--so init a lobby here with different content than "default lobby" ofc.-->
            <a title="Custom lists" routerLink="/lobby" routerLinkActive="active">Custom lists</a>
          </li>
          <li>
            <!--all time history / scores of user-->
            <a title="Score history" routerLink="/score-history" routerLinkActive="active">Your score history</a>
          </li>
        </ul>
      </div>
    </div>
    <!--<div class="column two">-->
      <!--<div class="content">-->
        <!---->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
