body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.primary-theme {
    background-color: var(--primary-color);
}

.secondary-theme {
    background-color: var(--secondary-color);
}
